@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Employee Manager App</h1>
    <p>Create, Update and Delete items from the lists below:</p>
</div>

<div id="root"></div>

@section Scripts {
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="~/dist/bundle.js"></script>
}

